*,
*::after, 
*::before {
    box-sizing: border-box;
}

html,
body {
    margin: 0px;
    font-family: sans-serif;
}

.box {
    height: 200px;
    border: 2px solid black;
    border-radius: 5px;
    
}

.list {
    list-style: none;
}