*,
*::after, 
*::before {
    box-sizing: border-box;
}

html,
body {
    margin: 0px;
    font-family: sans-serif;
}

.list {
    list-style: none;
}

.p {
    font-size: .8rem;
}

.hide {
    opacity: 0;
}
