*,
*::after, 
*::before {
    box-sizing: border-box;
}

html,
body {
    margin: 0px;
    font-family: sans-serif;
}

.box {
    height: 200px;
    border: 2px solid black;
    border-radius: 5px;
    width: 65%;
}

.list {
    list-style: none;
}

.p {
    font-size: .8rem;
}

/* .card-style {
    border-radius: 5px;
} */
